/* Center the container */
#partida {
  margin-top:120px;
  margin-left:200px;
  width:480px;
}

#messages {
	position: relative;
	width: 250px;
	top: 200px;
	right: 1030px;
	float:right;
	margin-right: 2px;
	color: black;
	
}
/* Give canvas a background */

#tablero {

  background-color:black;

}


#chat{
  
  background-color:blue;

}

#fondo:hover{

 background-color: grey;
 width: 400px;

}

#menu{
 position: relative;
 float: left;
}

#game_features{
 background: white;
 padding: 100px;
}

#start_game{
 margin-left: 225px;
}

#waiting_matches{
 padding: 100px;
 margin-right: 400px;
 margin-left: 300px;
 border: 2px solid black;
 background: red;
 border-radius: 4px;

}

.play_game{
 border: 2px solid #003B62;
 position: relative;
 float: right;
 background: #00FFFF;
}

.tamano {
 width: 218px;
 height: 40px;
 color: #A0522D;
}

.estilopartida{
 padding: 20px;
};

#login-buttons{
 display: block;
}

#wait_start{
 position:relative;
 float: right;
}

#wait_cancel{
 position:relative;
 float: left;
}

#waiting_for_players{
 padding: 30px
}
